.env.example
VITE_FIREBASE_API_KEY=AIzaSyAgzlL-gFdky4ZfXdkJlvT8vuTQbuE0iuE
VITE_FIREBASE_AUTH_DOMAIN=snowzen-ef591.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://snowzen-ef591-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=snowzen-ef591
VITE_FIREBASE_STORAGE_BUCKET=snowzen-ef591.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=17525600938
VITE_FIREBASE_APP_ID=1:17525600938:web:4e61cffcc998c16f6d56d3
VITE_FIREBASE_MEASUREMENT_ID=G-M5QPPRHDM1
